/.agents
/.angular
/coverage
/dist
/node_modules
/out-tsc
/package-lock.json
/playwright-report
/projects/dev/*
!/projects/dev/src/
/projects/dev/src/*
!/projects/dev/src/app/
/projects/dev/src/app/*
!/projects/dev/src/app/testing/
/projects/components/badge
/projects/components/button
/projects/components/checkbox
/projects/components/core
/projects/components/dialog
/projects/components/dialogv2
/projects/components/modal
/projects/components/radio
/projects/components/public-api.ts
/skills-lock.json
/test-results
/.vscode
