<footer class="footer footer-center p-10 bg-base-200 text-base-content">
    <div>
        <div class="grid grid-flow-col gap-4">
            <!-- <a href="https://twitter.com/daisyuidev" class="link link-hover">Twitter</a> -->
            <a href="https://github.com/pranxy/zordon-ui" class="link link-hover">GitHub</a>
            <!-- <a href="https://discord.gg/yGnCTnUHz4" class="link link-hover">Discord</a> -->
        </div>
        <div>
            <p>© 2025 - Made with <span class="text-error">❤</span> using Angular & daisyUI</p>
        </div>
    </div>
</footer>
