<mat-toolbar color="primary" dir="ltr">
    <button mat-icon-button (click)="toggleSidenav.emit('mouse')">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="demo-toolbar">
        <h1>Material Extensions</h1>
        <div class="demo-config-buttons">
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>translate</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                @for (lang of langs; track lang) {
                <button mat-menu-item (click)="useLanguage(lang.value)">
                    <span>{{ lang.label }}</span>
                </button>
                }
            </mat-menu> -->

            <!-- @if (state.m3Enabled) {
            <button
                mat-icon-button
                (click)="toggleColorApiBackCompat()"
                matTooltip="{{
                    state.colorApiBackCompat ? 'Disable' : 'Enable'
                }} color API back-compat"
            >
                <mat-icon>colorize</mat-icon>
            </button>
            } -->
            <button mat-icon-button (click)="toggleFullscreen()" matTooltip="Toggle fullscreen">
                <mat-icon>fullscreen</mat-icon>
            </button>
            <!-- <button
                mat-icon-button
                (click)="toggleM3()"
                [matTooltip]="state.m3Enabled ? 'Use M2 theme' : 'Use M3 theme'"
            >
                @if (state.m3Enabled) {
                <mat-icon>invert_colors_off</mat-icon>
                } @else {
                <mat-icon>invert_colors</mat-icon>
                }
            </button> -->
            <!-- <button
                mat-icon-button
                (click)="toggleZoneless()"
                [matTooltip]="isZoneless ? 'Use zones' : 'Use zoneless'"
            >
                @if (isZoneless) {
                <mat-icon>visibility</mat-icon>
                } @else {
                <mat-icon>visibility_off</mat-icon>
                }
            </button> -->
            <!-- <button
                mat-icon-button
                (click)="toggleAnimations()"
                [matTooltip]="state.animations ? 'Disable animations' : 'Enable animations'"
            >
                @if (state.animations) {
                <mat-icon>pause_circle</mat-icon>
                } @else {
                <mat-icon>animation</mat-icon>
                }
            </button> -->
            <button
                mat-icon-button
                (click)="toggleTheme()"
                [matTooltip]="
                    state.darkTheme ? 'Switch to light theme' : 'Switch to dark theme'
                "
            >
                @if (state.darkTheme) {
                <mat-icon>light_mode</mat-icon>
                } @else {
                <mat-icon>dark_mode</mat-icon>
                }
            </button>
            <!-- <button
                mat-icon-button
                (click)="toggleRippleDisabled()"
                [matTooltip]="state.rippleDisabled ? 'Enable ripples' : 'Disable ripples'"
            >
                @if (state.rippleDisabled) {
                <mat-icon>waves</mat-icon>
                } @else {
                <mat-icon>water</mat-icon>
                }
            </button> -->
            <!-- <button
                mat-icon-button
                (click)="toggleStrongFocus()"
                [matTooltip]="
                    state.strongFocusEnabled
                        ? 'Disable strong focus'
                        : 'Enable strong focus'
                "
            >
                @if (state.strongFocusEnabled) {
                <mat-icon>not_accessible</mat-icon>
                } @else {
                <mat-icon>accessibility</mat-icon>
                }
            </button> -->

            <button
                #densityTooltip="matTooltip"
                mat-icon-button
                (click)="toggleDensity(undefined, densityTooltip)"
                [matTooltip]="'Density: ' + state.density"
            >
                <mat-icon>grid_on</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
