<mat-sidenav-container class="demo-container">
    <mat-sidenav role="navigation" mode="side" style="width: 260px" opened>
        <mat-nav-list>
            @for (navItem of navItems; track navItem) {
            <a
                mat-list-item
                routerLinkActive
                #routerLinkActiveInstance="routerLinkActive"
                [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
                [routerLink]="[navItem.route]"
            >
                {{ navItem.name }}
            </a>
            }
        </mat-nav-list>
    </mat-sidenav>

    <main [ngClass]="getDensityClass()" class="demo-main">
        <dev-app-header (toggleSidenav)="toggleSidenav($event)" />
        <!-- The toolbar should always be in the LTR direction -->

        <div [ngClass]="getDensityClass()" class="demo-content mat-app-background">
            <ng-content />
        </div>
    </main>
</mat-sidenav-container>
